.bs-version-pager {
	margin-top: 1rem;
}
.bs-version-pager a.next, .bs-version-pager a.prev,
.bs-version-pager a.next:hover, .bs-version-pager a.prev:hover {
	text-decoration: none;
}

.bs-version-pager-info {
	margin: auto;
	text-align: center;
	width: 80%;
}

.bs-version-pager .pull-left {
	float: left;
}

.bs-version-pager .pull-right {
	float: right;
}