<div class="navbar-primary-height d-block"></div>
{{{skip-to}}}
<div id="header">
	{{{navbar-primary}}}
</div>
<div id="wrapper" class="row align-items-start wrapper mx-0">
	<div class="col-west-spacer"></div>
	{{{sidebar-primary}}}
	<div class="col col-center" id="main">
		{{{main}}}
		{{{back-to-top}}}
	</div>
	<div class="col-east-spacer"></div>
	{{{sidebar-secondary}}}
</div>
{{{aftercontent}}}
{{{footer}}}