<div id="footer" class="mx-0" role="contentinfo">
    <div class="inner">
        <ul id="footer-links">
            {{#footerlinks}}
            {{{.}}}
            {{/footerlinks}}
        </ul>
		<ul id="footer-icons">
			{{#icons}}
			<li>
				<a href="{{url}}" target="{{target}}">
					<img src="{{src}}" height="{{height}}" width="{{width}}" alt="{{alt}}">
				</a>
			</li>
			{{/icons}}
		</ul>
    </div>
</div>
