<div id="footer" class="mx-0">
	<div class="inner">
		<ul>
			{{#places}}
			<li {{#class}} class="{{{.}}}"{{/class}}>
				{{{body}}}
			</li>
			{{/places}}
		</ul>
		<ul id="footer-icons">
			{{#icons}}
			<li>
				<a href="{{url}}">
					<img src="{{src}}" height="{{height}}" width="{{width}}" alt="{{alt}}">
				</a>
			</li>
			{{/icons}}
		</ul>
	</div>
</div>