<nav id="nb-pri" class="navbar fixed-top hw-navbar-expand d-block navbar-primary-height" aria-label="{{navbar-aria-label}}">
	<div class="row px-1 h-100">
		<div class="d-flex  align-items-center col-xxl-9 col-xl-9 col-lg-8 col-md-7 col-sm-12 col-xs-12">
			<a id="sb-tgl-pri" tabindex="0" class="ico-btn btn sb-toggle bi-list mr-4 my-auto d-none d-md-block" title="{{toggle-btn-sidebar-primary-title}}" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#sb-pri-cnt" aria-expanded="true" aria-label="{{toggle-btn-sidebar-primary-aria-label}}" aria-controls="sb-pri-cnt"></a>
			<a id="nb-logo" href="{{logo-href}}" title="{{logo-title}}" class="nb-logo  mx-4" style="background-image: url({{logo-src}});" role="link" tabindex="0" aria-label={{logo-aria-label}}></a>
			{{{search-form}}}
		</div>
		<div class="d-flex col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-12 col-xs-12" id="nb-pri-itms">
			<ul class="navbar-nav w-100 my-auto align-items-center px-1" aria-label="{{navbar-menu-aria-label}}">
				<li class="nav-item d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
					<a id="sb-tgl-mobile-pri" tabindex="0" class="ico-btn btn sb-toggle bi-list mr-4 my-auto" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#sb-pri-cnt" aria-expanded="true" aria-label="{{toggle-btn-sidebar-primary-aria-label}}" aria-controls="sb-pri-cnt"></a>
				</li>
				<li class="nav-item">{{{new-content-button}}}</li>
				{{#navbar-items}}{{{.}}}{{/navbar-items}}
				<li class="nav-item">{{{global-actions-button}}}</li>
				<li class="nav-item">{{{language-button}}}</li>
				<li class="nav-item">{{{login-button}}}</li>
				<li class="nav-item">{{{user-menu-button}}}</li>
				<li class="nav-item">{{{sidebar-secondary-toggle}}}</li>
			</ul>
		</div>
	</div>
</nav>
