body.mediawiki .oo-ui-windowManager-modal > .oo-ui-dialog {
	background-color: rgba( 62, 83, 137, 0.3 ) !important;
	font-size: 0.9375rem;
	/* header has 1050 */
	z-index: 1051 !important;
}

.oo-ui-defaultOverlay .mw-widget-dateInputWidget-calendar {
	z-index: 1051;
}

.alert .oo-ui-horizontalLayout > .oo-ui-widget {
	margin-bottom: 0;
}

.mw-body-content .oo-ui-widget.oo-ui-buttonElement a:hover {
	text-decoration: none;
}

/* padding in dialog for primary action is too small, therefore set it in relation to font-size */
.oo-ui-windowManager .oo-ui-processDialog .oo-ui-actionWidget.oo-ui-labelElement > .oo-ui-buttonElement-button {
	padding: 0.75rem;
}

/* apply min-height to buttons in oo-ui-numberInputWidget-field */
.oo-ui-numberInputWidget-field input.oo-ui-inputWidget-input {
	min-height: 32px;
}

.oo-ui-numberInputWidget-field > span,
.oo-ui-numberInputWidget-field > input {
	position: relative;
}

/* ERM31377 Ensure that tabOptionWidget is underlined when selected despite focus */
.oo-ui-tabSelectWidget-framed.oo-ui-widget-enabled .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected .oo-ui-labelElement-label {
	border-bottom-color: #36c;
}

/* ERM43065 - border color for input is not enough -> use Codex input border color */
.oo-ui-textInputWidget.oo-ui-widget-enabled .oo-ui-inputWidget-input,
.oo-ui-tagMultiselectWidget.oo-ui-widget-enabled .oo-ui-tagMultiselectWidget-handle {
	border-color: #72777d;
}

/* ERM43801 - Fix contrast mode of browser with forced colors */
@media ( forced-colors: active ) {
	.oo-ui-tabOptionWidget.oo-ui-optionWidget-selected,
	.oo-ui-outlineSelectWidget .oo-ui-optionWidget-selected,
	.oo-ui-toggleSwitchWidget.oo-ui-widget-enabled.oo-ui-toggleWidget-on,
	.oo-ui-menuOptionWidget.oo-ui-optionWidget-selected {
		background-color: SelectedItem !important;
		color: SelectedItemText !important;
	}
}
