body.mediawiki .oo-ui-windowManager-modal > .oo-ui-dialog {
	background-color: rgba(62,83,137, 0.3) !important;
	font-family: 'Lato';
	font-size: 15px;
	/* header has 1050 */
	z-index: 1051 !important;
}
.oo-ui-defaultOverlay .mw-widget-dateInputWidget-calendar {
	z-index: 1051;
}
.alert .oo-ui-horizontalLayout > .oo-ui-widget {
	margin-bottom: 0;
}
