body.mediawiki .oo-ui-windowManager-modal > .oo-ui-dialog {
	background-color: rgba(62,83,137, 0.3) !important;
	font-size: 15px;
	/* header has 1050 */
	z-index: 1051 !important;
}
.oo-ui-defaultOverlay .mw-widget-dateInputWidget-calendar {
	z-index: 1051;
}
.alert .oo-ui-horizontalLayout > .oo-ui-widget {
	margin-bottom: 0;
}
/* fix shift of content if opening a dialog or opening VE */
body.mediawiki.oo-ui-windowManager-modal-active {
	margin-right: 0 !important;
	overflow: auto;
}

/* fix for overlay in dialog floats away if page is scrolled */
body.mediawiki.oo-ui-windowManager-modal-active .oo-ui-defaultOverlay .oo-ui-menuSelectWidget {
	position: fixed;
	bottom: unset;
	max-width: min-content;
}

#mw-content-text .oo-ui-flaggedElement-progressive a,
#mw-content-text .oo-ui-flaggedElement-progressive a:hover {
	color: white;
}

#mw-content-text .oo-ui-widget.oo-ui-flaggedElement-destructive a,
#mw-content-text .oo-ui-widget.oo-ui-flaggedElement-destructive a:hover {
	color: white;
}
#mw-content-text .oo-ui-widget.oo-ui-buttonElement-active a,
#mw-content-text .oo-ui-widget.oo-ui-buttonElement-active a:hover {
	color: white;
}
#mw-content-text .oo-ui-widget.oo-ui-buttonElement a:hover {
	text-decoration: none;
}