.row > .col-east-spacer,
.row > .col-west-spacer {
	display: none;
}

.row > .col-east,
.row > .col-west {
	min-height: calc( 100vh - var( --navbar-primary-height ) );
	position: fixed;
	top: var( --navbar-primary-height );
}

.row > .col-west {
	max-width: var( --sidebar-primary-width );
	z-index: 3;
}

.row > .col-east {
	max-width: var( --sidebar-secondary-width );
	z-index: 2;
	right: 0;
}

#aftercontent > .inner {
	max-width: var( --content-max-width );
	margin: auto;
	padding: 0;
}

#tools-after-content {
	padding-left: 2.5rem;
	padding-right: 3rem;
}

#data-after-content {
	margin: 0;
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 3rem;
}
