.fs-mode-enabled .row > .col-east-spacer,
.fs-mode-enabled .row > .col-west-spacer {
	display: none;
}

.fs-mode-enabled #footer {
	padding-left: 0;
	padding-right: 0;
}

.fs-mode-enabled #aftercontent {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.fs-mode-enabled #aftercontent > .inner {
	max-width: 100%;
}

.fs-mode-enabled #footer ul {
	max-width: 100%;
}

.row > .col-east,
.row > .col-west {
	min-height: calc( 100vh - var( --navbar-primary-height ) );
	position: fixed;
	top: var( --navbar-primary-height );
}

.row > .col-west {
	max-width: var( --sidebar-primary-width );
	top: var( --navbar-primary-height );
	left: 0;
}

.row > .col-east {
	max-width: var( --sidebar-secondary-width );
	top: var( --navbar-primary-height );
	right: 0;
}

#wrapper,
#footer {
	padding-left: var( --sidebar-primary-spacer );
	padding-right: var( --sidebar-secondary-spacer );
}

.fs-mode-enabled #wrapper {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
