/* common dropdown and buttons */
:root {
	--mws-primary-bg: #3E5389;
	--mws-primary-bg--hover: #98A7C4;
	--mws-primary-fg: #FFF;
	--mws-primary-fg--hover: #252525;
	--mws-secondary-bg: #FFF;
	--mws-secondary-bg--hover: #98A7C4;
	--mws-secondary-fg: #252525;
	--mws-secondary-fg--hover: #252525;
}