#bodyContent .sectionanchors-button {
	margin-left: -24px;
	width: 20px;
}

/* z-index for popup to low for sidebars */
.oo-ui-popupWidget.bs-vec-styleInspector {
	z-index: 1002;
}

/* Hide title action on enhanced action history */
body.enhanced-action-history #title-actions {
	visibility: hidden;
}
/* Fix toolbar with hide title on enhanced version history */
body.hide-title.title-fixed .enhanced-history-toolbar {
	top: var( --navbar-primary-height ) !important;
}
