body.page-Special_Notifications #mw-content-text > .mw-echo-ui-notificationsInboxWidget > .mw-echo-ui-notificationsInboxWidget-row {
    display: flex;
    flex-wrap: wrap;
}
#mw-content-text > .mw-echo-ui-notificationsInboxWidget > .mw-echo-ui-notificationsInboxWidget-row > div {
    display: block;
    width: 100%;
    padding-right: 0;
    margin-bottom: 25px;
}
#mw-content-text > .mw-echo-ui-notificationsInboxWidget > .mw-echo-ui-notificationsInboxWidget-row > div > div {
    width: 100%;
}