/* Fix notification settings popup */
body.mediawiki .mw-echo-ui-overlay {
	z-index: 2;
}

.mw-echo-ui-datedSubGroupListWidget-title-primary {
	margin-right: 0.5em;
}

body.mediawiki .mw-notification-area {
	top: var(--navbar-primary-height);
}

.mw-category .mw-category-group {
	display: table;
}

.oo-ui-defaultOverlay .oo-ui-floatableElement-floatable {
	/* For popups in dialogs => dialog has a fixed 1054 z-index (with !important)*/
	z-index: 1100;
}

body .mw-rcfilters-ui-highlights {
	padding-bottom: 3px;
	padding-right: 0px;
}
