/* Fix notification settings popup */
body.mediawiki .mw-echo-ui-overlay {
	z-index: 2;
}

.mw-echo-ui-datedSubGroupListWidget-title-primary {
	margin-right: 0.5em;
}

body.mediawiki .mw-notification-area {
	top: var(--navbar-primary-height);
}