body.mediawiki .ve-ui-overlay-global {
	z-index: 1051;
	font-family: 'Lato';
}

/* code mirror padding */
article#content .ve-init-mw-desktopArticleTarget .CodeMirror {
	padding: 0;
}

/*
 * toolbar shown at top of other dlg.windows
 * (formular, blog, all places with slimmed down VisualEditor)
*/
body.mediawiki .ve-init-sa-target-toolbar > .oo-ui-toolbar-bar {
	position: initial;
}

/* signs in toolbar pushed out of box after window comes smaller */
body.mediawiki .ve-init-sa-target-toolbar > .oo-ui-toolbar-bar > .oo-ui-toolbar-tools {
	white-space: normal;
}

/* make full textarea clickable in forms */
.ve-init-sa-target-surfaceWrapper,
.ve-ui-surface.ve-ui-surface-visual,
.ve-ce-surface.ve-ce-surface,
.ve-ce-surface.ve-ce-surface.ve-ce-surface-focused,
.ve-ce-branchNode.ve-ce-documentNode.ve-ce-attachedRootNode.ve-ce-rootNode {
	min-height: inherit;
}

/* Fixing blinking cursor for chromium browser */
.ve-ce-surface.ve-ce-surface.ve-ce-surface-focused .ve-ce-branchNode.ve-ce-documentNode.ve-ce-attachedRootNode.ve-ce-rootNode .ve-ce-branchNode-slug.ve-ce-branchNode-inlineSlug {
	padding-left: 3px;
	padding-right: 3px;
}

/* Fix inspector popup behind toolbar - ERM37546 */
.oo-ui-popupWidget.ext-visualEditorPlus-inlineTextInspector {
	z-index: 2;
}

/* Set min-height for the editable node in VE - copied over from Vector-specific file */
.ve-init-mw-desktopArticleTarget .ve-init-mw-target-surface > .ve-ce-surface .ve-ce-attachedRootNode {
	min-height: 15em;
}
