#content {
	font-size: var( --content-font-size );
	color: var( --content-fg-primary );
	font-weight: var(--content-font-weight);
	margin: 0 auto;
	height: 100%;
}
#content p {
	font-weight: var(--content-font-weight);
	line-height: 150%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.p-sm {
	font-size: 0.8rem;
	color: var( --content-fg-secondary );
}

#mw-content-text a,
[class^="mw-content-"] a {
	color: var(--link-fg);
	font-size: inherit;
	font-weight: inherit;
	text-decoration: none;
}
#mw-content-text a.new,
[class^="mw-content-"] a.new {
	color: var(--new-link-fg);
}
#mw-content-text a:visited.new,
[class^="mw-content-"] a:visited.new {
	color: var(--new-link-fg);
}
#mw-content-text a.stub,
[class^="mw-content-"] a.stub {
	color: var(--stub-link-fg);
}
#mw-content-text a:hover,
[class^="mw-content-"] a:hover {
	text-decoration: underline;
}
#mw-content-text a:visited,
[class^="mw-content-"] a:visited {
	color: var(--link-fg);
}
#mw-content-text a.external:after {
	font-family: 'bootstrap-icons';
	content: "\f1c5";
	font-size: 10px;
	padding-left: 0.3rem;
}
#mw-content-text .plainlinks a.external:after {
	content: unset;
}
#content pre {
	font-family: monospace, Courier;
	font-size: 0.8rem;
	margin: 2rem 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}
#content pre, #content .mw-code {
	background-color: var( --content-box-color );
	padding: 1rem;
}
code {
	font-family: monospace, Courier;
	color: var( --content-fg-primary );
	background-color: var( --content-box-color );
	border-radius: 5px;
	padding: 2px 4px;
}
dd {
	margin-left: 1.5rem;
}
.floatleft {
	float: left;
	clear: left;
	margin: 0 1rem 1rem 0;
}
.center {
	text-align: center;
}
.floatright {
	float: right;
	clear: right;
	margin: 0 0 1rem 1rem;
}
.floatleft + ul, .floatright + ul {
	display: inline-block;
}

.floatleft + ol, .floatright + ol {
	display: inline-block;
}
blockquote {
	border-left: 2px solid var( --primary-bg );
	border-radius: 2px;
	padding: 0.5rem 1rem;
	background-color: #F5F5F7;
}
