table {
	caption-side: top;
	border-collapse: collapse;
	/* 0.875 * 16px = 14px */
	font-size: calc( 0.9333 * var( --content-font-size ) );
	overflow-x: auto;
	word-break: normal;
}

caption {
	color: var( --font-color-secondary );
	padding: 0.5rem 0;
	text-align: left;
	display: table-caption;
}

div.responsive-table-scrollable {
	overflow-x: auto;
}

table.responsive-table {
	width: 100%;
}
/* scrollbar for Chrome, Safari, Edge */
div.responsive-table-scrollable::-webkit-scrollbar {
	height: 8px;
	border-radius: 5px;
}

div.responsive-table-scrollable::-webkit-scrollbar-thumb {
	background-color: #d8d8d9;
	border-radius: 5px;
	border: 3px solid transparent;
}
