
#aftercontent {
	padding-top: 15px;
	width: 100%;
	background-color: var(--content-bg);
}
.ns-special #aftercontent {
	background-color: var(--body-special-bg );
}
#aftercontent > .inner {
	max-width: var(--aftercontent-max-width);
	margin: 0 auto;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 1rem;
	padding-bottom: 30px;
	border-top: 0.05px solid var(--aftercontent-border-color);
}

#aftercontent h1,
#aftercontent h2,
#aftercontent h3,
#aftercontent h4,
#aftercontent h5,
#aftercontent h6 {
	color: var(--footer-fg);
}

#aftercontent a:not( [class*="oo-ui-"] ) {
	text-decoration: none;
	color: var(--aftercontent-tools-fg);
}

#aftercontent a:hover:not( [class*="oo-ui-"] ) {
	color: var(--content-fg-primary);
}

#tools-after-content {
	color: var(--content-fg-secondary);
	margin-bottom: 20px;
}

#tools-after-content:empty {
	display: none;
}

#aftercontent a.new {
	color: var(--new-link-fg);
}

#data-after-content {
	background-color: var(--discussion-section-bg);
	margin: 0 -40px;
	padding: 20px;
	border-radius: 5px;
}

#data-after-content:empty {
	display: none;
}
