#back-to-top {
	height: 60px;
	width: 60px;
	display: block;
	position: fixed;
	right: 15px;
	top: calc( 100vh - 80px );
	text-decoration: none;
	z-index: 1000;
}

body:has( #chatbot-cnt ) #back-to-top {
	top: calc( 100vh - 125px );
}

#back-to-top.collapsed {
	right: calc( var( --sidebar-secondary-width ) - 20px );
	top: calc( 100vh - 100px );
}

#back-to-top::before {
	font-size: 250%;
	color: var( --back-to-top-fg );
}

#back-to-top:hover::before {
	color: var( --back-to-top-fg--hover );
}

#back-to-top:focus {
	border: 2px solid var( --focus-visible );
}
