#footer {
	padding-top: 1em;
	width:100%;
	background-color: var(--footer-bg);
	height: var(--footer-height);
	bottom: 0;
	left:0;
	position: relative;
}
#footer .inner {
	justify-content: space-between;
	margin: 0 auto;
	max-width: var(--footer-max-width);
}
#footer ul {
	display: inline;
	padding-left: 0;
	margin-left: 0;
}
#footer ul li {
	display: inline;
	list-style-type: none;
	padding-left: 1rem;
}
#footer li a {
	color: var(--footer-fg);
	font-size: 0.8rem;
	text-decoration: none;
}
#footer li a:hover{
	color: var(--footer-fg--hover);
}
#footer li a:focus-visible {
	outline: 0;
	border-radius: 50rem;
	box-shadow: 0 0 0 .1em var(--focus-visible);
}
#footer-icons {
	float: right;
}
#footer-icons li {
	padding-left: 1rem;
	padding-right: 0;
}