#footer {
	height: auto;
}
#footer-icons {
	margin-top: 1rem;
}
#footer ul li {
	display: flex;
	height: 35px;
}
#footer ul li a {
	margin: 0 auto;
}
#footer-icons li {
	padding-left: 0;
	padding-right: 1rem;
	padding-top: 0.5rem;
}
#footer-icons {
	float: unset;
}