#main {
	padding: 1rem 2.5rem calc( var( --footer-height ) + var( --aftercontent-height ) + 5px ) 2.5rem;
	max-width: var( --content-max-width );
	margin: 0 auto;
	font-size: var( --content-font-size );
	min-height: calc( 100vh - var( --navbar-primary-height ) - calc( var( --footer-height ) + var( --aftercontent-height ) ) );
	background-color: var( --content-bg );
}

#main main {
	width: var( --content-max-width );
	max-width: 100%;
	margin: 0 auto;
}

#title-section {
	padding-bottom: 0.5rem;
	border-bottom: 0.05px solid var( --title-nav-border-color );
	background-color: var( --title-nav-bg );
}

body.ns-special #title-section {
	background-color: var( --body-special-bg );
}
/** Fix color breadcrumbs only for special pages - ERM36341 */
body.ns-special #title-section .breadcrumb-item {
	color: #59595a;
}

#title-section a {
	text-decoration: none;
}

#title-line > div {
	margin: 0;
}

#title-line h1 {
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0.3em;
}

#title-actions {
	padding-right: 0;
}

#title-section .mw-redirectedfrom {
	font-size: 0.875rem;
	color: var( --title-nav-fg );
}

#title-section .mw-redirectedfrom a {
	color: var( --link-fg );
	font-size: inherit;
	font-weight: inherit;
}

#title-section .mw-indicators {
	margin: 6px;
	font-size: 0.875rem;
}

#title-line .mw-indicators {
	margin: 0;
}

body.title-fixed #title-line {
	position: fixed;
	left: 50%;
	top: var( --navbar-primary-height );
	height: auto;
	max-width: 100vw;
	width: 100vw;
	transform: translateX( -50% );
	z-index: 500;
	background-color: transparent;
}

body.title-fixed #title-line > div {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	margin: 0 auto;
	max-width: 100vw;
	border-bottom: 0.05px solid var( --title-nav-border-color );
	background-color: var( --title-nav-bg );
}

main .alert {
	font-size: 0.875rem;
}

main .alert label {
	font-size: 0.875rem;
}

main .alert-info a {
	text-decoration: none;
	color: #2e6096;
	font-weight: bold;
}

main .alert-info a:hover {
	text-decoration: underline;
}

.fs-mode-enabled #main {
	max-width: 100vw;
	width: 100%;
}

.fs-mode-enabled #main main {
	width: 100%;
}

.ns-special #main {
	background-color: var( --body-special-bg );
}

#contentSub .mw-revision.cdx-message {
	/* Hide mw page version information because we have our PageVersionPager */
	display: none;
}
