#title-actions a.ico-btn {
	cursor: pointer;
	text-align: center;
	color: var( --icon-primary-fg );
	background-color: var( --icon-primary-bg );
}

#title-actions a.ico-btn:hover {
	color: var( --icon-primary-fg--hover );
	background-color: var( --icon-primary-bg--hover );
}

#title-actions a.ico-btn.active {
	color: var( --icon-primary-fg--active );
	background-color: var( --icon-primary-bg--active );
}

.btn-group button.dropdown-icon {
	border: none;
	border-radius: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var( --icon-primary-bg );
	color: var( --icon-primary-fg );
	font-size: 22px;
	text-align: center;
}

.btn-group button.dropdown-icon:focus-visible {
	outline: 0;
	border-radius: 50%;
	box-shadow: 0 0 0 0.1em var( --focus-visible );
}

.btn-group button.dropdown-icon[ disabled ] {
	display: none;
}

.btn-group button.dropdown-icon:hover {
	color: var( --icon-primary-fg--hover );
	background-color: var( --icon-primary-bg );
}
