#sb-pri-tgl-btn {
	font-size: 25px;
	margin-left: 35px;
	padding: 4px 6px;
	background-color: var( --icon-primary-bg );
	color: var( --icon-primary-fg );
}

#sb-pri-tgl-btn:hover {
	padding: 4px 6px;
}

#sb-pri-tgl-btn[ aria-expanded='true' ] {
	background-color: var( --icon-primary-bg--active );
	color: var( --icon-primary-fg--active );
}

.fs-mode-enabled #sb-pri-tgl-btn {
	color: var( --icon-primary-fg );
	background-color: transparent;
}

#sb-tgl-mobile-pri {
	font-size: 25px;
	padding: 4px 6px;
	color: var( --icon-primary-fg );
	background-color: var( --icon-primary-bg );
}

#sb-tgl-mobile-pri[ aria-expanded='true' ] {
	background-color: var( --icon-primary-bg--active );
	color: var( --icon-primary-fg--active );
}

a#sb-sec-tgl-btn {
	color: var( --icon-primary-fg );
	background-color: var( --icon-primary-bg );
	height: 32px;
	width: 32px;
	transform: rotate( 90deg );
	font-size: 18px;
	padding-top: 4px;
	margin-left: 5px;
}

a#sb-sec-tgl-btn:hover {
	color: var( --icon-primary-fg--hover );
	background-color: var( --icon-primary-bg--hover );
}

a#sb-sec-tgl-btn[ aria-expanded='true' ] {
	color: var( --icon-primary-fg--active );
	background-color: var( --icon-primary-bg--active );
}

.fs-mode-enabled #sb-sec-tgl-btn {
	color: var( --icon-primary-fg );
	background-color: transparent;
}
