#sb-sec-cnt {
	background-color: var( --sidebar-secondary-bg );
	color: var( --sidebar-secondary-fg );
	padding-top: 15px;
	font-size: 0.9375rem;
	border-left: 0.05px solid var( --sidebar-secondary-border-marker );
	z-index: 1000;
}

#sb-sec {
	height: 100%;
	max-height: calc( 100vh - calc( 55px + var( --navbar-primary-height ) ) );
	overflow: hidden;
	width: 100%;
}

#sb-sec:hover {
	overflow-y: auto;
}

#sb-sec .card {
	color: inherit;
}

#sb-sec::-webkit-scrollbar {
	width: 8px;
}

#sb-sec::-webkit-scrollbar-thumb {
	background-color: #d8d8d9;
	border-radius: 5px;
	border: 3px solid transparent;
}

.all-actions-list {
	list-style: none;
	margin: 0;
	padding: 10px;
}

@media ( max-width: 767.99px ) {
	#sb-sec {
		overflow: auto;
		height: calc( 100vh - calc( 15px + calc( 2 * var( --navbar-primary-height ) ) ) );
	}
}
